obj/*
bin/*
.vs/*
/.project
packages/*

TestResults/*

Leikelen.Core/obj/*
Leikelen.Core/bin/*

Leikelen.Test/obj/*
Leikelen.Test/bin/*

KinectEx/obj/*
KinectEx/bin/*

DevDocumentation/obj/*

Leikelen.Core/bin_files/anyPlatform/documentation/*