obj/*
bin/*
.vs/*
/.project
packages/*

**/Thumbs.db

TestResults/*

Leikelen.Core/obj/*
Leikelen.Core/bin/*

Leikelen.Test/obj/*
Leikelen.Test/bin/*

KinectEx/obj/*
KinectEx/bin/*

DevDocumentation/obj/*

Leikelen.Core/bin_files/anyPlatform/documentation/*

Leikelen.Core/bin_files/anyPlatform/report_templates/person/dataJson.json
Leikelen.Core/bin_files/anyPlatform/report_templates/scene/dataJson.json

UpgradeLog.htm