obj/*
bin/*
.vs/*
/.project
packages/*

TestResults/*

Leikelen.Test.Unit/obj/*
Leikelen.Test.Unit/bin/*

KinectEx/obj/*
KinectEx/bin/*

DevDocumentation/obj/*

EmoTrainingData/obj/*
EmoTrainingData/bin/*