<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings><add name="Microsoft.Samples.Kinect.VisualizadorMultimodal.Properties.Settings.app_sqliteConnectionString" connectionString="data source=&quot;C:\Users\elrod_000\Documents\Rodo\Develop\Projects\Visualizador Multimodal\SourceCode\bin\x64\Debug\app_sqlite.db&quot;" providerName="System.Data.SQLite.EF6" />
  <add name="app_sqliteEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;C:\Users\elrod_000\Documents\Rodo\Develop\Projects\Visualizador Multimodal\SourceCode\bin\x64\Debug\app_sqlite.db&quot;'" providerName="System.Data.EntityClient" /><add name="app_sqliteEntities1" connectionString="metadata=res://*/PostureTypeModel.csdl|res://*/PostureTypeModel.ssdl|res://*/PostureTypeModel.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;C:\Users\elrod_000\Documents\Rodo\Develop\Projects\Visualizador Multimodal\SourceCode\bin\x64\Debug\app_sqlite.db&quot;'" providerName="System.Data.EntityClient" /></connectionStrings>-->
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="WriteableBitmapEx.Wpf" publicKeyToken="50375ca6144f1c69" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
